@font-face {
  font-family: "iconfont";
  /* Project id 3944092 */
  src: url('../fonts/iconfont.woff2?t=1681644698573') format('woff2'),
    url('../fonts/iconfont.woff?t=1681644698573') format('woff'),
    url('../fonts/iconfont.ttf?t=1681644698573') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lajitong:before {
  content: "\e616";
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-icon_password:before {
  content: "\e615";
}

.icon-mimadenglu:before {
  content: "\e62a";
}

.icon-shouji_o:before {
  content: "\eb4d";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-zhiding:before {
  content: "\e61c";
}

.icon-qianjin:before {
  content: "\e609";
}

.icon-chaye:before {
  content: "\e614";
}

.icon-home-g:before {
  content: "\e646";
}

.icon-dagou:before {
  content: "\e603";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-huore-s:before {
  content: "\e630";
}

.icon-shijian:before {
  content: "\e8b8";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-kefu:before {
  content: "\eada";
}

.icon-sousuo:before {
  content: "\e8b9";
}